@font-face {
  font-family: tiempos;
  src: url('../fonts/test-tiempos-headline-bold.woff2');
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.film-backdrop {
  max-width: 80%;
  max-height: 500px;
  height: auto;
}

.film-backdrop2 {
  padding-top: 80px;
  margin-top: 40px;
  max-height: 500px;
  width: 90%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 100px 50px 50px 10px #14181c inset, -50px -50px 50px 10px #14181c inset;
}

.details-container {
  margin-top: -5%;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 2fr 1fr;
  max-width: 1200px;
  color: #85a6ba;
}

.details-left {
  grid-row: 1/4;
}

.film-poster {
  width: 230px;
  height: 345px;
  border: solid 2px silver;
  border-radius: 5px;
}

.film-title-container {
  display: flex;
  gap: 20px;
  align-items: center;
  grid-column: 2/4;
  height: 40px;
}

.film-title {
  font-family: tiempos;
  font-size: 32px;
  color: white;
}

.film-release {
  font-size: 1.2rem;
  border-bottom: solid 1px #85a6ba;
  cursor: pointer;
}

.film-release:hover {
  color: #39a4d7;
}

.details-mid {
  min-height: 400px;
  grid-column-start: 2;
}

.tagline-movie {
  margin: -20px 0px 10px 0px;
  font-size: 16px;
  font-style: italic;
}

.overview {
  margin-bottom: 30px;
}

.average-score {
  font-size: 1.3rem;
  margin-top: 20px;
}

.people-options {
  display: flex;
  gap: 20px;
  border-bottom: solid 1px grey;
  padding-bottom: 6px;
  font-size: 15px;
  color: #00E054;
}

.people-options > div:hover {
  cursor: pointer;
  color: white;
}

.cast-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.cast-member,
.member,
.detail,
.genre {
  display: flex;
  font-size: 14px;
  margin: 0px 1px 1px 0px;
  border-radius: 5px;
  padding: 3px 6px;
  background-color: #283038;
  color: #85a6ba;
  cursor: pointer;
}

.cast-member:hover,
.genre:hover,
.member:hover,
.detail:hover {
  color: #b1c8d7;
}

.genres-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.directed-by {
  display: flex;
  gap: 10px;
}

.director {
  border-bottom: solid 1px #85a6ba;
  cursor: pointer;
}

.director:hover {
  color: #39a4d7;
}

.sign-up-box {
  display: flex;
  justify-content: space-evenly;
  gap: 1px;
  font-size: 13.5px;
  flex-direction: column;
}

.review-half, .share-half {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 230px;
  background-color: #445566;
  cursor: pointer;
}

.review-half:hover,
.share-half:hover {
  color: #fff;
}

.review-half {
  border-radius: 5px 5px 0px 0px;
}

.share-half {
  border-radius: 0px 0px 5px 5px;
}

.crew-list,
.details-list {
  display: grid;
  margin-top: 10px;
  gap: 5px;
  grid-template-columns: 1fr 1.5fr;
}

.crew,
.detail-type {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
}

.empty {
  flex-grow: 1;
  margin-top: 16px;
  margin-left: 5px;
  border-bottom: dotted 1px grey;
  display: flex;
  align-self: start;
  overflow: hidden;
}

.members,
.details {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}