@font-face {
  font-family: tiempos;
  src: url('../fonts/test-tiempos-headline-bold.woff2');
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 80px;
}

.film-backdrop {
  max-width: 80%;
  max-height: 600px;
  height: auto;
}

.details-container {
  margin-top: -5%;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 2fr 1fr;
}

.film-poster {
  width: 230px;
  height: 345px;
  border: solid 2px silver;
  border-radius: 5px;
}

.film-title {
  font-family: tiempos;
  font-size: 32px;
}