/* WILL FIGURE OUT FONTS AT A LATER TIME */
/* LOOK UP HOW TO MAKE ONLY CERTAIN ELEMENTS DISPLAY IF WIDTH IS TOO SMALL */
/* MAKE IT SO HEADER DOESNT APPEAR OVER NON-HOME PAGE COMPONENT CONTENT */

.nav-container {
  display: grid;
  width: 100%;
  justify-content: center;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
}

.nav-container2 {
  display: flex;
  height: 75px;
  gap: 200px;
  min-width: 1000px;
  max-width: 1400px;
  background-color: none;
  justify-content: space-between;
}

.nav-icon {
  cursor: pointer;
  color: #c9d6e4;
  font-weight: bold;
}

.nav-icon:hover {
  color: #fff;
}

.logo {
  width: 341px;
  height: 75px;
}

.separate {
  display: flex;
  color: white;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

.search {
  display: flex;
  height: 20px;
  width: 150px;
  border-radius: 30px;
  outline: none;
  padding: 5px;
  background-color: #808080c3;
  transition: 1s;
}

.search:hover {
  filter: brightness(2);
}

.search:focus {
  background-color: #fff;
}

.search-icon {
  height: 20px;
  width: auto;
  position: absolute;
  margin-left: 135px;
  margin-top: 6px;
  color: black;
  cursor: pointer;
  z-index: 9;
}

input {
  border: none;
}