@font-face {
  font-family: tiempos;
  src: url('../fonts/test-tiempos-headline-bold.woff2');
}

.search-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 120px;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.results-container {
  display: flex;
  gap: 20px;
  border-bottom: solid 1px grey;
  padding-bottom: 30px;
  width: 670px;
}

.results-title {
  font-family: tiempos;
  font-size: 22px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.results-release {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.results-overview {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  max-height: 64px;
  width: 570px;
  overflow: hidden;
}